@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color:white;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  color: white;
  text-decoration: none;
  display:flex;
  flex-direction: column;
  align-items: center;
}

a:hover, a:active {
  color: chartreuse;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  align-items: center;
  text-align: center;

}

.aboutContent{
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.projectImg{
  width:25%;
  height:25%;
}

.cardContainer{
  color: white;
  
}

.nav{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.line{
  padding-top: 3rem;
  border-bottom: 1px solid #888;
}
.navButton {
  align-items: center;
  background-color: grey;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navButton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.navButton:hover:after {
  transform: translate(0, 0);
}

.navButton:active {
  background-color: silver;
  outline: 0;
}

.navButton:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .navButton {
    padding: 0 40px;
  }
  .container{
    padding-left: 0.5rem
  }
}